html,
body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  user-select: none;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #2e2e2e;
}

p {
  color: #4e4e4e;
  text-align: center;
}